@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 50px;">
    <p>Total price: @string.Format("{0:C}", ViewBag.TotalPrice)</p>
    <p>Total price with default discount: @string.Format("{0:C}", ViewBag.TotalPriceWithDefaultDiscount)</p>
    <p>Total price with custom discount: @string.Format("{0:C}", ViewBag.TotalPriceWithCustomDiscount)</p>
</div>