@model Controllers.Extensibility.Models.Result

<div class="jumbotron" style="margin-top: 50px;">
    <div>
        Controller: @Model.ControllerName
    </div>

    <div>
        Action: @Model.ActionName
    </div>
</div>