@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 50px;">
    <div>Elapsed seconds: @TempData["ElapsedTime"] milliseconds</div>
    <div>Random text: @Guid.NewGuid()</div>
</div>